html {
  font-size: 1.3rem;
}
p,
button {
  font-size: 1rem;
}
.steps .submit-btn {
  padding: 0.8rem 2rem;
}
.banner button {
  margin-bottom: 2rem;
}
.image1 img {
  width: 100%;
}
.card__content {
  padding: 12.3rem 6rem;
}
ul li {
  font-size: 1rem;
}
.navbar-nav {
  padding-left: 27% !important;
}
.navbar-brand img {
  width: 140%;
}
.banner h1 {
  max-width: 82%;
}
.btn2 {
  padding: 0.625rem 2rem !important;
}
#video {
  width: 70%;
  height: 560px;
}
.content-right {
  transform: translate(-15rem, 21rem);
}
.steps input[type="submit"] {
  transform: translateX(-5.7rem);
}
.video button {
  right: 48%;
}
.icon img {
  width: 3rem;
}
.price-card .card-body h5 {
  text-align: center;
}
.footer-icons a {
  padding: 0.8rem 0.5rem;
}
.footer-icons img {
  width: 6%;
}
.footer-logo {
  width: 65%;
}
.footer-first p {
  margin-top: 1.5rem;
}
.about-info-1 {
  top: 18rem;
  left: 23rem;
}
.forms {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.steps input[type="email"],
.steps input[type="tel"] {
  padding: 22px 36px;
}
@media only screen and (max-width: 2640px) {
  .about-info-1 {
    top: 19rem;
  }
}

@media only screen and (max-width: 2561px) {
  .about-info-1 {
    top: 16.5rem;
  }
}
@media only screen and (max-width: 2546px) {
  .about-info-1 {
    top: 18rem;
  }
}

@media only screen and (max-width: 2459px) {
  .about-info-1 {
    top: 16.7rem;
    left: 20rem;
  }
}
@media only screen and (max-width: 2379px) {
  .about-info-1 {
    top: 15.7rem;
    left: 20rem;
  }
}
@media only screen and (max-width: 2215px) {
  html {
    font-size: 1.2rem;
  }
  .about-info-1 {
    top: 17.5rem;
    left: 21rem;
  }
}
@media only screen and (max-width: 2119px) {
  .about-info-1 {
    top: 16rem;
    left: 21rem;
  }
}
@media only screen and (max-width: 2080px) {
  .about-info-1 {
    top: 15rem;
    left: 20rem;
  }
}
@media only screen and (max-width: 1879px) {
  html {
    font-size: 1rem;
  }
  .about-info-1 {
    top: 14.5rem;
    left: 20rem;
  }
}
@media only screen and (max-width: 1706px) {
  html {
    font-size: 1.2rem;
  }
  .about-info-1 {
    top: 13.5rem;
    left: 20rem;
  }
}
@media only screen and (max-width: 1612px) {
  html {
    font-size: 1.1rem;
  }
  .about-info-1 {
    top: 13.5rem;
    left: 20rem;
  }
}
