* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif !important;
}
:root {
  --level-one: translateZ(3rem);
  --level-two: translateZ(6rem);
  --level-three: translateZ(9rem);

  --fw-normal: 400;
  --fw-bold: 700;

  --clr: #b7c9e5;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 16px;
}

.slider {
  max-width: 1200px;
  margin: 0 auto;
}

.slick-list {
  padding-left: 0px !important;
}

.nav-container {
  padding: 0 !important;
}
.btn1 {
  margin-right: 2rem;
  background: transparent !important;
  border: none !important;
}
.btn2 {
  background-color: #f5d77f !important;
  border: none !important;
  padding: 10px 20px !important;

  color: #7c672c !important;
  border-radius: 0 !important;
}
.items {
  display: flex;
}
.navbar-nav {
  width: 100%;
  justify-content: space-between;
  padding-left: 18% !important;
}
.banner h1 {
  color: white;
  font-weight: 700;
  font-size: 3.25rem;
  line-height: 4.87rem;
  max-width: 80%;
}

.count_main_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.count-heading h1 {
  font-weight: 700;
}
.count-heading p {
  line-height: 1.8rem;
}
.combine-counter {
  display: none;
}
.counter {
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 5.625rem;
  color: #f1612ccc;
  display: inline-block;
}
.counter-container span:last-of-type {
  font-size: 1.75rem;
  line-height: 2.625rem;
  letter-spacing: -0.5px;
  font-weight: 600;
  color: #121212;
}
.letter {
  font-size: 3.75rem;
}
.counter-container p {
  font-size: 1.37rem;
  line-height: 3.75rem;
  color: #121212;
}
.info {
  margin-top: 8% !important;
  padding-left: 2rem !important;
}
.about-info-2 {
  display: none;
}
.container {
  max-width: 85% !important;
}
.container1 {
  background-color: #f1612c;
}
.container1 button,
.about-info button {
  padding: 0.75rem 1.5rem;
  border: none;
  font-weight: 700;
  line-height: 1.38rem;
  color: #7c672c;
  background-color: #f5d77f;
  transition: background-color 400ms linear, color 400ms linear,
    border 400ms linear;
}

.container1 button:hover {
  border: 1.2px solid #f5d77f;
  background: transparent;
  color: #f5d77f;
}

.quality {
  margin-top: 2rem !important;
}
.q1 {
  display: flex;
}
.icon {
  margin-right: 1rem;
}

.q1 span {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
}
.line {
  border-right: 1px solid #d8d8d8;
  height: 5rem;
}
.text p {
  color: #4f4f4f;
}
.socialMedia {
  background: #f5d77f;
  padding: 2rem 0;
}
.socialMedia .row {
  justify-content: center;
  align-items: center;
}
.socialMedia .col-lg-6 {
  display: flex;
  justify-content: center;
}
.whatsapp,
.telegram {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  padding: 6px 20px;
  background: white;
  border-radius: 6px;
}
.social-row {
  display: flex;
  column-gap: 4rem;
  align-items: center;
  justify-content: center;
}
.social {
  display: flex;
  align-items: center;
  justify-content: center;
}
.whatsapp h3,
.telegram h3 {
  font-size: 1.1rem;
  font-weight: 600;
}
.whatsapp img,
.telegram img {
  width: 75%;
}
.whatsapp a,
.telegram a {
  margin-top: 0.6rem;
}
.firstCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
}
.card1 {
  background: #f1612c !important;
  width: 100%;
  /* height: 22.06rem; */
}
.text h4 {
  font-weight: bold;
}
.slider {
  display: none;
}
.card-image {
  background: #f5d77f;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 10px 15px 35px rgb(0 0 0 / 35%);
}
.card-image img {
  padding: 2rem;
}
.card-title1 {
  font-size: 1.1rem;
  color: #f5d77f;
  margin-top: 1rem;
}
.t1 {
  max-width: 90%;
  text-align: center;
  margin-top: 2rem;
}
.card-text1 {
  color: white;
  line-height: 2rem;
  font-size: 1rem;
}
.card-title {
  margin: 1rem 0;
}
.card-test {
  cursor: pointer;
  background-color: transparent;
  perspective: 1000px;
}
.card-test {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.card-front {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 0;
  left: 0;
}
.card-back {
  top: 0;
  left: 0;
  color: white;
  transform: rotateY(180deg);
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding: 2rem;
}
.card-test:hover {
  transform: rotateY(180deg);
}
.flip-img {
  background: #f5d77f;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 10px 15px 35px rgb(0 0 0 / 35%);
  padding: 2rem;
}
.second {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2rem;
}
.first h1 {
  font-weight: 700;
  font-size: 2.5rem;
  width: 85%;
}
.first p {
  width: 85%;
  font-weight: 500;
  margin-top: 1.4rem;
}
.first img {
  width: 95%;
}
.card-text2 {
  font-size: 1rem;
  line-height: 2rem;
}
.inside-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5rem;
}
.card-body {
  position: relative;
}
.secondCard-info {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  margin-top: 1rem;
  justify-content: center;
}
.card2 .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.secondCard-info img {
  width: 100%;
  filter: drop-shadow(10px 15px 35px rgba(0, 0, 0, 0.1));
}
.card2-heading {
  width: 55%;
}
.card2-heading h3,
.price-heading p:first-of-type,
.price-heading p:first-of-type {
  font-size: 1rem;
  color: #30b6d1;
  letter-spacing: 1px;
}
.card2-heading h1,
.price-heading h1 {
  font-weight: 700;
  line-height: 3.8rem;
}
.images-info {
  font-size: 1.375rem;
  color: #034446;
  font-weight: 700;
  /* position: absolute;
  right: 75px;
  bottom: 34px; */
}
.images-info h5 {
  color: #034446;
  font-size: 1.375rem;
  font-weight: 700;
}
.images-info p {
  font-size: 1rem;
  color: #aaaaaa;
  margin-bottom: 0;
}
.carousel {
  display: none;
}
.social1 h3 {
  font-size: 1.5rem;
}
.dedicated-heading {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  grid-gap: 12rem;
}
.dedicated-heading h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.7rem;
}
.dedicated-heading p:last-child {
  font-size: 1.3rem;
}
.para1 {
  display: none;
}
.video {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6.6rem;
  margin-bottom: 6.6rem;
}
#video {
  width: 1061px;
  height: 446px;
}
.video button {
  border: none;
  background: transparent;
  right: 46%;
  position: absolute;
}
#play_button img {
  width: 80%;
}
.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 4rem;
  margin-top: 6.75rem;
  margin-bottom: 6.75rem;
}
.about-container img {
  width: 100%;
}
.about-info h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.8rem;
  letter-spacing: -0.5px;
  text-align: left;
}
.about-info ul {
  list-style: none;
}
.about-info ul li::before {
  content: "\2022";
  color: #f1612c;
  font-weight: bold;
  display: inline-block;
  width: 11px;
  height: 11px;
  margin-left: -1em;
}
.para2 {
  width: 82%;
}
.para2,
.about-info li {
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 0px;
  text-align: left;
}
.about-container-1 {
  position: relative;
}
.about-container-1 img {
  z-index: 10;
  width: 37%;
}
.about-info-1 {
  position: absolute;
  width: 72%;
  background: #f1612c;
  box-shadow: 10px 24px 54px rgb(0 0 0 / 25%);
  top: 14.81rem;
  z-index: -1;
  left: 20rem;
}
.about-info-1 .para4 {
  font-size: 1rem;
  color: #f2c154;
  letter-spacing: 1px;
  line-height: 1.5rem;
  margin-left: 11rem;
  margin-top: 3rem;
  padding-top: 3.93rem;
  text-transform: uppercase;
}
.about-info-1 h1 {
  font-size: 1.875rem;
  line-height: 2.81rem;
  letter-spacing: -0.5px;
  font-weight: 700;
  text-align: left;
  color: white;
  width: 50%;
  margin-left: 11rem;
}
.about-info-1 .para3 {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.93rem;
  letter-spacing: 0px;
  text-align: left;
  color: #fff;
  padding: 0 2.87rem;
}
.about-info-1 .name {
  font-family: Poppins;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0px;
  text-align: left;
  color: #f5d77f;
  padding: 0 2.87rem;
}
.about-container-1 {
  padding-bottom: 26rem;
}
.steps {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.mobile-info {
  display: none;
}
.steps {
  margin-bottom: 4rem;
}
.steps h1 {
  margin-bottom: 3rem;
  font-size: 2.5rem;
  font-weight: 700;
}

.steps input[type="tel"] {
  padding: 14px 45px;

  margin-right: 2rem;
  border: 1px solid #e5e5e5;
}
.steps input[type="email"] {
  width: 27rem;
  padding: 14px 27px;
  border: 1px solid #e5e5e5;
}

.steps .submit-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  color: #7c672c;
  background-color: #f5d77f;
  border: none;
  padding: 11px 31px;
  transition: background 400ms linear, color 400ms linear;
}
.steps .submit-btn:hover {
  border: 0.5px solid #f5d77f;
  background: transparent;
  color: #f5d77f;
}
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 6rem 0;
}
.links {
  display: flex;
  justify-content: space-around;
}
.links ul {
  list-style: none;
  padding-left: 0;
}

.footer-first {
  margin-bottom: 1rem;
}
.footer-first p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0px;
  text-align: left;
  width: 90%;
}
.links h5,
.footer-fourth h5 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1rem;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 1.5rem;
}
.links ul li,
.footer-fourth p {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 1.5rem;
}
.footer-second h5 {
  color: #fff !important;
}
.footer-fourth {
  width: 60%;
  margin-left: 5rem;
}
.add1,
.add2 {
  margin-bottom: 0 !important;
}
.navbar-light .navbar-toggler-icon {
  filter: invert(1);
}
.navbar-light .navbar-toggler {
  border-color: rgb(255 255 255 / 30%);
}
.copyright {
  padding: 2rem;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright p {
  margin-bottom: 0;
  color: white;
}

.price {
  margin-top: 6.1rem;
  position: relative;
}
.price-heading h1 {
  width: 40%;
}
.price-heading p {
  margin-bottom: 0;
}
.price-heading p:last-of-type {
  margin-bottom: 3.8rem;
}
.price-heading p:last-of-type {
  width: 32%;
}

.price-card .card-body h5 {
  font-family: Poppins;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.68rem;
  letter-spacing: 0em;
  text-align: left;
  color: #034446;
}
.price-info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.price-info p {
  margin-right: 2rem;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 0.5rem;
  color: #034446;
}
.price-info h2 {
  font-family: Poppins;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.25rem;
  letter-spacing: 0em;
  text-align: left;
  color: #034446;
}
.price-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.mobile-card {
  display: none !important;
}
.price-card .card-body {
  transition: background-color 400ms linear;
}
.price-card .card-body p {
  transition: color 400ms linear;
}
.price-card .card-body h5 {
  transition: color 400ms linear;
}
.price-card .card-body h2 {
  transition: color 400ms linear;
}
.price-card .card:hover .card-body {
  background-color: #f1612c;
}
.price-card .card:hover .card-body h5 {
  color: #fff;
}
.price-card .card:hover .card-body h2 {
  color: #f5d77f;
}
.price-card .card:hover .card-body p {
  color: #ffffff99;
}
/* Card Active Class */
.card-active {
  background-color: #f1612c;
  color: #fff;
}
.card-active h5 {
  font-weight: 700;
}
.card-active h2 {
  color: #f5d77f;
}
.card-active p {
  color: #ffffff99;
}

/* End of Card Active Class */
.social1 h3 {
  font-weight: 700;
}
.price-heading button {
  position: absolute;
  right: 0.875rem;
  top: 9rem;
  border: 1.2px solid #f5d77f;
  background: transparent;
  padding: 0.875rem 1.75rem;
  color: #f5d77f;
}
.price-heading button {
  transition: background-color 400ms linear, color 400ms linear;
}
.price-heading button:hover {
  color: #7c672c;
  background-color: #f5d77f;
}
.price-card-mobile {
  display: none;
}
.footer-icons a {
  border-radius: 50%;
  border: 1px solid white;
  padding: 5px;
  margin-right: 1rem;
}
.footer-icons a img {
  margin-bottom: 2px;
  margin-left: 1px;
}
footer-logo {
  margin-bottom: 1rem;
}

.about-container-1 {
  display: grid;
  grid-template-columns: 40% 75%;
}
.self-image-left {
  width: 90%;
  z-index: 10;
}
.about-container-1 img {
  width: 100%;
  z-index: 10;
}
.content-right {
  background-color: #f1612c;
  color: white;
  padding: 2rem;
  transform: translate(-12rem, 19.5rem);
  z-index: -1;
}
.para4 {
  margin-left: 12rem;
  text-transform: uppercase;
  color: #f2c154;
}
.content-right h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #f2c154;
}
.content-right h1 {
  margin-left: 12rem;
  font-size: 2rem;
}
.para3 {
  line-height: 2rem;
}
.video video {
  width: 70%;
}

@media only screen and (max-width: 1441px) {
  html {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1421px) {
  .content-right {
    transform: translate(-23%, 61%);
  }
}
@media only screen and (max-width: 1350px) {
  .content-right {
    transform: translate(-23%, 56%);
  }
}
@media only screen and (max-width: 1281px) {
  .content-right {
    transform: translate(-26%, 52%);
  }
}
@media only screen and (max-width: 1245px) {
  .content-right {
    transform: translate(-26%, 60%);
  }
}
@media only screen and (max-width: 1079px) {
  .content-right {
    transform: translate(-26%, 55%);
  }
}
@media only screen and (max-width: 1013px) {
  .content-right {
    transform: translate(-26%, 47%);
  }
}
@media only screen and (max-width: 977px) {
  .content-right {
    transform: translate(-28%, 39%);
  }
}
@media only screen and (max-width: 948px) {
  .content-right {
    transform: translate(-28%, 50%);
  }
  .social1 h3 {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 948px) {
  .content-right {
    transform: translate(-28%, 43%);
  }
}
@media only screen and (max-width: 868px) {
  .content-right {
    transform: translate(-28%, 40%);
  }
  .social1 h3 {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 829px) {
  .self-image-left {
    width: 105%;
  }
  .content-right {
    transform: translate(-25%, 50%);
  }
  .content-right h1 {
    font-size: 2rem !important;
  }
}
@media only screen and (max-width: 795px) {
  .content-right {
    transform: translate(-25%, 47%);
  }
  .content-right h1 {
    font-size: 1.7rem !important;
  }
}
@media only screen and (max-width: 769px) {
  .content-right {
    transform: translate(-21%, 70%);
  }
  .content-right h1 {
    font-size: 1.7rem !important;
  }
}
@media only screen and (max-width: 759px) {
  .content-right {
    transform: translate(-20%, 69%);
  }
}
@media only screen and (max-width: 704px) {
  .content-right {
    transform: translate(-20%, 63%);
  }
}
@media only screen and (max-width: 639px) {
  .content-right {
    transform: translate(-22%, 50%);
  }
}

/* FLIP CARD */

.card__content {
  text-align: center;
  position: relative;
  padding: 11.3rem 6rem;
  transition: transform 2s;
  transform-style: preserve-3d;
}

.card:hover .card__content {
  transform: rotateY(0.5turn);
}

.card__front,
.card__back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  display: grid;
  align-content: center;
}

.card__front {
  background-blend-mode: overlay;
}

/* .card__front::before {
  content: "";
  position: absolute;
  --spacer: 1em;
  top: var(--spacer);
  bottom: var(--spacer);
  border: 3px solid currentColor;
  transform: var(--level-one);
} */

.card__title {
  font-size: 3.5rem;
  transform: var(--level-three);
  order: 2;
  text-transform: uppercase;
}

.card__subtitle {
  transform: var(--level-two);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 0.75rem;
  font-weight: var(--fw-bold);
  opacity: 0.7;
}

.card__body {
  transform: var(--level-two);
  color: #fff;
  line-height: 1.6;
}

.card__back {
  transform: rotateY(0.5turn);
}
